body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #B9E1DC;
}

h1 {
  font-family: Amatic SC;
  font-size: 75px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #FBFBFB;
  cursor: pointer;
}

input {
  margin-top: 10px;
  background-color: #FBFBFB;
  border: none;
  padding: 5px 7px;
  font-family: Helvetica;
}

button {
  font-family: Amatic SC;
  font-size: 24px;
  background-color: #F38181;
  border: none;
  padding: 1px 16px;
  text-align: center;
  color: #FBFBFB;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.addOption {
  margin-top: 10px;
}

.goButton {
  font-size: 36px;
  padding: 4px 48px;
}

.pinkBackground{
  background-color: #FAE3D9;
}
